/*---------------------- Font ----------------------*/
@font-face {
  font-family: "Huiwen-mincho";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Huiwen-mincho.otf") format("opentype");
}
/*圆体文字*/
@font-face {
  font-family: "QingNingYouYuan";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/QingNingYouYuan-2.ttf") format("truetype");
}
/*正文文字*/
@font-face {
  font-family: "simkai";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/simkai.ttf") format("truetype");
}
/*碎片感文字*/
@font-face {
  font-family: "SuXinShiGuYinSongJian"; 
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SuXinShiGuYinSongJian-1.ttf") format("truetype");
}

@font-face {
  font-family: "Swei Spring Sugar-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SweiSpringSugar-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Swei Spring Sugar-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SweiSpringSugar-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Swei Spring Sugar-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SweiSpringSugar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Swei Spring Sugar-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SweiSpringSugar-Medium.ttf") format("truetype");
}
/*首页古体感文字*/
@font-face {
  font-family: "ZiKuTangQingKaiTi";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ZiKuTangQingKaiTi-1.ttf") format("truetype");
}

@font-face{
  font-family: "AGaramondPro-Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AdobeGaramondPro/AGaramondPro-Bold.otf") format("opentype");
}

@font-face{
  font-family: "AGaramondPro-BoldItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AdobeGaramondPro/AGaramondPro-BoldItalic.otf") format("opentype");
}

@font-face{
  font-family: "AGaramondPro-Italic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AdobeGaramondPro/AGaramondPro-Italic.otf") format("opentype");
}

@font-face{
  font-family: "AGaramondPro-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AdobeGaramondPro/AGaramondPro-Regular.otf") format("opentype");
}

@font-face{
  font-family: "AGaramondPro-Semibold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AdobeGaramondPro/AGaramondPro-Semibold.otf") format("opentype");
}

@font-face{
  font-family: "AGaramondPro-SemiboldItalic";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AdobeGaramondPro/AGaramondPro-SemiboldItalic.otf") format("opentype");
}


@font-face{
  font-family: "AvenirLTStd-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-Black.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-BlackOblique";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-BlackOblique.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-Book";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-Book.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-BookOblique";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-BookOblique.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-Heavy";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-Heavy.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-HeavyOblique";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-HeavyOblique.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-Light.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-LightOblique";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-LightOblique.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-MediumOblique";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-MediumOblique.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-Roman";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-Roman.otf") format("opentype");
}

@font-face{
  font-family: "AvenirLTStd-Oblique";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AvenirLTStd/AvenirLTStd-Oblique.otf") format("opentype");
}


/*---------------------- Font ----------------------*/

html {
  font-size: 10px;
  font-family: "QingNingYouYuan";
}

@media screen and (min-width: 1900px) {
  html {
    font-size: 16px;
  }
}

.container {
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  writing-mode: vertical-lr;
  /* 或者 vertical-rl */
}

p {
  margin: 0
}

.hide {
  display: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 英文字母大写 */
.uppercase {
  text-transform: uppercase;
}

/* 首写英文字母大写 */
.firstUppercase {
  text-transform: capitalize;
}